
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  align-items: inherit;
}

.icon {
  padding: 1px;
  min-width: 50px;
  text-align: center;
}

.sidebar {
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 1px;
}

.sidebar a {
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 17px;
  color: #161616;
  display: block;
}

.sidebar a:hover {
  color: #634b4b;
}