<div  class="overlay" style="width: 100%;">
  <div style="float: left; background-color:#f1f1f1; height: 100%;" [ngStyle]="{'width':sAppTitleList == 0 ? '3%' : '15%' }">
    <app-top-bar (sInTitleList)="sAppTitleList = $event"></app-top-bar>
    <app-title-list [bTitleOpenMenu]="sAppTitleList" (nTTitleID)="nAppTitleId = $event" (sTitleText)="nAppTitleText = $event" (click)="closeNav()"></app-title-list>
  </div>
  <div style="float: left; background-color: lightblue; height: 100%;" scrolling="yes" [ngStyle]="{'width':sAppTitleList == 0 ? (nAppRecId == 0 ? '97%' : '77%') : (nAppRecId == 0 ? '85%' : '65%')}">
    <app-search [sSrchTitleText]="nAppTitleText"></app-search>
    <app-product-list  #child [nRecTitleId]="nAppTitleId" (nRecId)="nAppRecId = $event"></app-product-list>
    <!-- <app-product-list></app-product-list> -->
  </div>
  <div id="myNav" style="float: left; background-color: #f1f1f1; height: 100%;" [ngStyle]="{'width':nAppRecId == 0 ? '0%' : '20%'}">
    <a class="closebtn" (click)="closeNav();" [ngStyle]="{'display':nAppRecId == 0 ? 'none' : 'block' }">&times;</a>
    <!-- <app-product-dtl [nDtlRecId]="nAppRecId" [nDtlTitleId]="nAppTitleId" (nDtlRecOutId)="nAppRecId" (onChanged)="onChanged($event)"></app-product-dtl> -->
  </div>
</div>
<!-- 
<div class="container-fluid">
  <hr>
  <p>
    This is a demo example forked from the <strong>ng-bootstrap</strong> project: Angular powered Bootstrap.
    Visit <a href="https://ng-bootstrap.github.io/" target="_blank">https://ng-bootstrap.github.io</a> for more widgets and demos.
  </p>
  <hr>
  <p>You can pass an existing component as content of the modal window. In this case remember to add content component
    as an <code>entryComponents</code> section of your <code>NgModule</code>.</p>
  <button class="btn btn-lg btn-outline-primary" (click)="open();">Launch demo modal</button>
</div> -->
