.line {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

.sidebar {
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin: -13px 0 0 0;
  background-color: rgb(82, 120, 247);
}

.search{
  background:transparent; 
  border:none;

}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/