
<div class="sidebar">
  <p (click)="setTitleList()"><i class="fa fa-bars fa-2x"></i></p>
  <!-- <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div> -->
 </div>
<div *ngIf="bInTitelList">
</div>
<div *ngIf="bInTitelList">
  <a><i class="fa fa-fw fa-search"></i></a>
</div>


<!--
    <input type="text" style="background:transparent; border:none; width=10px">

<a (click)="setTitleList()"><i class="fa fa-fw fa-list"></i></a>

<i class="fa fa-bars" style="color:balck; left:-5px" aria-hidden="true"></i>
  <input type="text" style="background:transparent; border:none; width=10px">

 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->